<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header th:fragment="headerLayout" id="mainHeader" class="mainHeader">
        <div id="headerWrapper">
            <div class="util-menu">
                <!-- 로고 (좌측) -->
                <a href="/main/mainForm.do" class="header-logo">
                    <i>🏢</i>
                    <span>Spatialt 인트라넷</span>
                </a>
                
                <!-- 사용자 정보 및 메뉴 (우측) -->
                <ul>
                    <!-- 세션에서 사용자 정보 조회 -->
                    <li class="user" th:if="${session.LoginVO}">
                        <a href="#">
                            <span th:text="${session.LoginVO.userNm}">홍길동</span> 님
                        </a>
                    </li>
                    <li class="logout">
                        <a th:href="@{/login/logout.do}">
                            <span>로그아웃</span>
                            <img src="/images/img/log-out.svg" alt="로그아웃"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</html>
