<!-- cmm/loading.html -->
<div th:fragment="loadingLayout">
    <div class="loading-wrap" style="display: none; background-color: rgba(0, 0, 0, .3);">
        <div class="loading-info">
            <p class="drone-load"></p>
            <div class="loading-ani">
                <p>Loading</p>
                <div class="load-animation">
                    <div class="dotted"></div>
                    <div class="dotted"></div>
                    <div class="dotted"></div>
                </div>
            </div>
        </div>
    </div>
</div>
