<!DOCTYPE html>
<html>
  <script src="/js/cmm/jquery-3.7.0.min.js"></script> <!-- 공통 자바스크립트 -->
  <script src="/js/cmm/jquery.form.js"></script> <!-- 공통 자바스크립트 -->
  <script src="/js/cmm/jquery-ui-1.13.2/jquery-ui.js"></script> <!-- 공통 자바스크립트 -->
  <script src="/js/cmm/serialize.js" ></script> <!-- 공통 자바스크립트 -->
  <script src="/js/cmm/jquery.tmpl.min.js"></script> <!-- 공통 자바스크립트 -->

  <!-- 공통 모듈 -->
  <script src="/js/module/commonModule.js"></script>
  <script src="/js/module/messageModule.js"></script>
  <script src="/js/module/paginationModule.js" ></script>

  <!-- sweet alert -->
  <script type="text/javascript" src="/js/cmm/sweetalert2/sweetalert2.min.js"></script>

  <script type="application/javascript">
    window.commonData = {
      contextPath: '/',
    }
  </script>
</html>