<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/error.css" >
<link type="text/css" rel="stylesheet" href="/css/reset.css" >
<link type="text/css" rel="stylesheet" href="/css/components.css" >
<link type="text/css" rel="stylesheet" href="/css/common.css" >
<body>
<header>
    <h1><a href="/"><img class="color" src="/images/funLogo.png"><img class="white" src="/images/funLogo_w.png"></a></h1>
</header>
<main>
    <div class="error-inner">
        <div class="error-img">
            <img src="/images/error_bg.svg" alt="error">
        </div>
        <div class="error-info">
            <h2 class="error-name">403</h2>
            <p class="error-info-txt">
                죄송합니다. 접근이 거부되었습니다.
                <span>권한이 없거나, 사용할 수 없는 페이지입니다. 로그인 정보를 다시 한 번 확인해주세요.</span>
            </p>
        </div>
        <div class="button-box">
            <button class="back-btn" onclick="history.back()">이전으로</button>
            <button class="primary-btn" onclick="location.href='/'">메인으로</button>
        </div>
    </div>
</main>

</body>
</html>